In [1]:
import numpy as np
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import sys
# ^^^ pyforest auto-imports - don't write above this line

In [2]:
data = pd.read_csv("data.csv",encoding='unicode_escape') # escape unicode to read data corectly
data_description = pd.read_csv("dictionary.csv")

Show data's first 5 columns

In [3]:
data.head()

,Company_Name,Dependent-Company Status,year of founding,Age of company in years,Internet Activity Score,Short Description of company profile,Industry of company,Focus functions of company,Investors,Employee Count,...,Percent_skill_Data Science,Percent_skill_Business Strategy,Percent_skill_Product Management,Percent_skill_Sales,Percent_skill_Domain,Percent_skill_Law,Percent_skill_Consulting,Percent_skill_Finance,Percent_skill_Investment,Renown score
0,Company1,Success,No Info,No Info,-1.0,Video distribution,NaN,operation,KPCB Holdings|Draper Fisher Jurvetson (DFJ)|Kl...,3.0,...,0,0,0,0,0,0,0,0,0,0
1,Company2,Success,2011,3,125.0,NaN,Market Research|Marketing|Crowdfunding,"Marketing, sales",NaN,NaN,...,8.823529412,21.76470588,10.88235294,2.941176471,0,0,0,0,0,8
2,Company3,Success,2011,3,455.0,Event Data Analytics API,Analytics|Cloud Computing|Software Development,operations,TechStars|Streamlined Ventures|Amplify Partner...,14.0,...,3.846153846,17.09401709,9.401709402,0,2.777777778,0,0,0,0,9
3,Company4,Success,2009,5,-99.0,The most advanced analytics for mobile,Mobile|Analytics,Marketing & Sales,Michael Birch|Max Levchin|Sequoia Capital|Keit...,45.0,...,0,0,0,0,0,0,0,0,0,5
4,Company5,Success,2010,4,496.0,The Location-Based Marketing Platform,Analytics|Marketing|Enterprise Software,Marketing & Sales,DFJ Frontier|Draper Nexus Ventures|Gil Elbaz|A...,39.0,...,0,0,0,0,0,0,0,0,0,6

### Clear data

Fix dtypes of columns

In [4]:
# get  data types of columns without changing dtypes

data.dtypes.value_counts()

object     108
float64      5
int64        3
dtype: int64

In [5]:
# replace no info values to np.nan, it's done to prevent it changing column data type
data = data.replace("No Info", np.nan)

# convert columns type to numeric which are valid numbers
data[data.columns] = data[data.columns].apply(pd.to_numeric, errors = "ignore")

In [6]:
data.dtypes.value_counts() # get  data types of columns

object     75
float64    38
int64       3
dtype: int64

Seperate categorical, numerical columns and target column

In [14]:
# get target 
target_col = 'Dependent-Company Status'

# get  numerical features
num_col = list(data.select_dtypes(include=['int64','float64']).columns)



# get categorical features
# I exclude target column and company names from categorical features
# as the last one is not a feature
cat_col = [feat for feat in data.columns if feat not in (num_col+[target_col, "Company_Name"])]

cols = num_col+cat_col+[target_col]

In [ ]:
"""excluded_features = ("Controversial history of founder or co founder", "Legal risk and intellectual property",
                       "Client Reputation", "Company_Name", "Dependent-Company Status")
features = [feat for feat in list(data.columns) if feat not in excluded_features ]
target = data['Dependent-Company Status']"""

In [20]:
data[target_col][data[target_col]=="Success"] = 1
data[target_col][data[target_col]=="Failed"]= 0
data = data[cols]
data.head()

/home/vachik/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/vachik/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,year of founding,Age of company in years,Internet Activity Score,Employee Count,Employees count MoM change,Last Funding Amount,Number of Investors in Seed,Number of Investors in Angel and or VC,Number of Co-founders,Number of of advisors,...,Client Reputation,Technical proficiencies to analyse and interpret unstructured data,Solutions offered,Invested through global incubation competitions?,Disruptiveness of technology,Last round of funding received (in milionUSD),"Survival through recession, based on existence of the company through recession times",Gartner hype cycle stage,Time to maturity of technology (in years),Dependent-Company Status
0,NaN,NaN,-1.0,3.0,0.0,450000.0,2.0,0.0,1,2,...,NaN,No,Yes,No,Low,0.45,NaN,NaN,NaN,1
1,2011.0,3.0,125.0,NaN,NaN,NaN,5.0,0.0,2,0,...,Medium,Yes,Yes,No,Medium,5,Not Applicable,Trough,2 to 5,1
2,2011.0,3.0,455.0,14.0,0.0,2350000.0,15.0,0.0,3,0,...,Low,Yes,Yes,Yes,Medium,2.35,Not Applicable,Trough,2 to 5,1
3,2009.0,5.0,-99.0,45.0,10.0,10250000.0,6.0,0.0,2,0,...,Low,No,Yes,Yes,Medium,10.25,Not Applicable,Trough,2 to 5,1
4,2010.0,4.0,496.0,39.0,3.0,5500000.0,7.0,0.0,1,1,...,Low,Yes,Yes,No,Medium,5.5,Not Applicable,NaN,NaN,1

In [21]:
data.isna().mean()

year of founding                                                                         0.125000
Age of company in years                                                                  0.125000
Internet Activity Score                                                                  0.137712
Employee Count                                                                           0.351695
Employees count MoM change                                                               0.434322
                                                                                           ...
Last round of funding received (in milionUSD)                                            0.277542
Survival through recession, based on existence of the company through recession times    0.207627
Gartner hype cycle stage                                                                 0.364407
Time to maturity of technology (in years)                                                0.364407
Dependent-Company Status                                                                 0.000000
Length: 115, dtype: float64

In [23]:
#TODO replace NaNs